
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Historial de Compras</title>
</head>
<body>
  <h1>Historial de Compras</h1>
  <ul>
    <% invoices.forEach(invoice => { %>
      <li>
        Fecha: <%= invoice.date %>, Total: <%= invoice.total %>
        <ul>
          <% invoice.products.forEach(product => { %>
            <li><%= product.name %> - Cantidad: <%= product.quantity %>, Precio: <%= product.price %></li>
          <% }) %>
        </ul>
      </li>
    <% }) %>
  </ul>
  <a href="/welcome">Volver</a>
</body>
</html>
